<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head></head>

<body>
	<th:block th:fragment="bill-success-list">
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">

							<div class="card-header card-header-primary">
								<h4 class="card-title ">All Bill List</h4>
								 <div th:replace="components/shop/myBill/head-nav-bill :: head-nav-bill"></div> 
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table">
										<thead class=" text-primary">
											<th>Id separate</th>
											<th>Id total bill</th>
											<th>Status</th>
											<th>Refund</th>
											<th class="text-center">Action</th>
										</thead>
										<tbody>

											<tr th:if="${!bills.empty or bills != null}"
												th:each="bill, i : ${bills}">
												<td><span th:text="${bill.id}"></span></td>
												<td><span th:text="${bill.bill}"></span></td>
												<td><span th:text="${bill.status}"></span></td>
												<td><span th:text="${bill.refund}"></span></td>

												<td class="text-center"><span> 
												<button  type="button" th:onclick="|confirmBill(${bill.id})|"
														class="btn btn-large btn-info btn-just-icon"> 
														<i class="fas fa-check-circle"></i>
													</button>
												</span> <span>
														<button type="button" class="btn  btn-danger btn-just-icon"
															data-toggle="modal" data-target="#deleteConfirm">
															<i class="fas fa-trash-alt"></i>
														</button>
												</span></td>
										</tbody>
									</table>
									<!-- 									<div style="display: flex;align-items: center;">
										<div class="btn-group">
										<button type="button" style="background-color:#2196f3" class="btn btn-sm btn-default" th:text="${pageable.limit}"></button>
										<button type="button" style="background-color:#2196f3"
											class="btn btn-default dropdown-toggle dropdown-toggle-split"
											data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											<span class="sr-only">Toggle Dropdown</span>
										</button>
										<div class="dropdown-menu">
											<a class="dropdown-item" th:href="@{/admin/account/list(limit=${10}, page=${1})}">10</a> 
											<a class="dropdown-item" th:href="@{/admin/account/list(limit=${25}, page=${1})}">25</a> 
											<a class="dropdown-item" th:href="@{/admin/account/list(limit=${50}, page=${1})}">50</a>
										</div>
									</div>
									<nav th:if="${pageable.totalPages > 0}" class="pagination">
										<ul class="pagination" style="margin-bottom: 0px;">
											<li
												th:class="${pageable.preMaxPage > 0} ? 'page-item ' : 'page-item disabled'">
												<a class="page-link" th:with="result=${ pageable.page - 1}"
												th:href="@{/admin/account/list(limit=${pageable.limit}, page=${result})}">Previous</a>
											</li>

											<li th:each="item : ${pageable.items}"
												th:class="${item.current == true} ? 'page-item active' : 'page-item'">
												 <a
												th:href="@{/admin/account/list(limit=${pageable.limit}, page=${item.number})}"
												class="page-link" th:text="${item.number}"> </a>
											</li>
											<li
												th:class="${pageable.nextMaxPage > 0} ? 'page-item ' : 'page-item disabled'">
												<a class="page-link" th:with="result=${ pageable.page + 1}"
												th:href="@{/admin/account/list(limit=${pageable.limit}, page=${result})}">Next</a>
											</li>
										</ul>
									</nav>
									</div> -->

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<th:block th:replace="components/shop/myBill/confirm-bill-modal :: confirm-bill-modal"></th:block>
			
			
			<script th:inline="javascript">
			
	        console.log([[${ pageable }]])
			function confirmBill(bill_id) {
        	 var token = $("meta[name='_csrf']").attr("content");
		        var header = $("meta[name='_csrf_header']").attr("content");
		        data = `{"bill_id" : ${bill_id}}`;
                
                Swal.fire({
                	  title: 'Are you sure?',
                	  html: 'This bill will be confirm! <br> You will not be able to revert this!',
                	  icon: 'warning',
                	  showCancelButton: true,
                	  confirmButtonColor: '#3085d6',
                	  cancelButtonColor: '#d33',
                	  confirmButtonText: 'Yes, confirm it!'
                	}).then((result) => {
                		
                	  if (result.value) {
      	                $.ajax({
    	                    url: `/bill/confirm`,
    	                    type: 'PUT',

    	                    dataType: "json",
    	                    contentType: "application/json",

    	                    // data: JSON.stringify(`{"product_id" : ${product_id}}`),
    	                    data: data,
    	                    // data: JSON.stringify(data),

    	                    beforeSend: function (xhr) {
    	                        xhr.setRequestHeader(header, token);
    	                    },

    	                    success: function (data, status, xhr) {
    	                    	//md.showAddProductNoti('bottom','right',data.msg)
    	                    //  
    							Swal.fire({
    	                    		  position: 'center',
    	                    		  icon: 'success',
    	                    		  title: 'Confirm Bill Success',
    	                    		  showConfirmButton: false,
    	                    		  timer: 1000
    		                    		}).then(()=>{
    		                                window.location.href = window.location.href;
    		                    		}) 
    	                     },
    	                    error: function (request, status, error) {

    	                        try {
    	                            if (request.status == 405) {
    	                                window.location.href = `${home}/login`;
    	                            }
    	                            // console.log(request.status);
    	                            // console.log(status);
    	                            // console.log(error);
    	                            // window.location.href = `${home}/login`;
    	                        } catch (error) { }
    	                    }
    	                });
                	  }
                	})
                	
          
            }
			</script>
	</th:block>

</body>

</html>