<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head></head>

<body>
	<th:block th:fragment="head-nav-bill">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a style="cursor:pointer"
					th:classappend="${#request.getRequestURI().startsWith('/shop/mybills/waiting-payment') ? 'nav-item nav-link active' : 'nav-item nav-link' }" 
					onclick="return waitingConfirm('waitingPayment')">Waiting Payment</a>				
					<a style="cursor:pointer"
					th:classappend="${#request.getRequestURI().startsWith('/shop/mybills/waiting-confirm') ? 'nav-item nav-link active' : 'nav-item nav-link' }" 
					onclick="return waitingConfirm('waitingConfirm')">Waiting Confirm</a>
					<a style="cursor:pointer"
					th:classappend="${#request.getRequestURI().startsWith('/shop/mybills/confirm') ? 'nav-item nav-link active' : 'nav-item nav-link' }" 
					onclick="return waitingConfirm('confirmList')">Confirm List</a>
					<a style="cursor:pointer"
					th:classappend="${#request.getRequestURI().startsWith('/shop/mybills/success') ? 'nav-item nav-link active' : 'nav-item nav-link' }" 
					onclick="return waitingConfirm('successList')">Success List</a>
					<a style="cursor:pointer"
					th:classappend="${#request.getRequestURI().startsWith('/shop/mybills/deny') ? 'nav-item nav-link active' : 'nav-item nav-link' }" 
					onclick="return waitingConfirm('denyList')">Deny List</a> 
					<a style="cursor:pointer"	
					th:classappend="${#request.getRequestURI().startsWith('/shop/mybills/error-payment') ? 'nav-item nav-link active' : 'nav-item nav-link' }" 
					onclick="return waitingConfirm('errorPayment')">Error Payment</a> 	
									
				</div>
			</div>
		</nav>

<!-- 		<script th:inline="javascript">
        const shop = [[${ shops }]]
        console.log([[${ shops }]])
        
        
        function waitingConfirm(){
		    var token = $("meta[name='_csrf']").attr("content");
		    var header = $("meta[name='_csrf_header']").attr("content");
   		     $.ajax({
		        type: "POST",
		        url: `/mybills/waiting-confirm-test`,
	
		        beforeSend: function (xhr) {
		            xhr.setRequestHeader(header, token);
		        },
	
		        success: function (data, status, xhr) {
					//var data = JSON.parse(data);
		        	console.log(data)
		        	data.forEach(function(dt){
		        		$("#tdata").append("<tr>" + 
		        		"<td>"+dt.id+"</td>"+
		        		"<td>"+dt.account+"</td>"+
		        		"<td>"+dt.address+"</td>"
		        		+"</tr>"
		        		)
		        	})
		        	//alert("Edit Shop Success!");
		        	//window.location.href = "/shop/myproduct?mode=view";
		        },
		        error: function (request, status, error) {
		            alert(status + " " + error);
		           // window.location.href = window.location.href;
		        }
		    });    
	
		    console.log("End edit");
        	
        	
        }
        
        
        
        
        
      </script> -->
	</th:block>

</body>

</html>