<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head></head>

<body>

	<th:block th:fragment="footer">
	
	    <script th:src="@{/static/admin/js/core/jquery.min.js}"></script>
	    <script th:src="@{/static/admin/js/core/popper.min.js}"></script>
	      <script th:src="@{/static/admin/js/core/bootstrap-material-design.min.js}"></script>
	    
		<script th:src="@{/static/bootstrap-4.5.0-dist/js/bootstrap.min.js}"></script>
		<script th:src="@{/static/admin/js/plugins/perfect-scrollbar.jquery.min.js}"></script>
		<script th:src="@{/static/admin/js/plugins/sweetalert2@9.js}"></script>
		
		  <script  th:src="@{/static/admin/js/plugins/bootstrap-notify.js}"></script>
		
		  <script th:src="@{/static/admin/js/material-dashboard.js?v=2.1.2}" type="text/javascript"></script>
		
		<script th:inline="javascript">
        const shop = [[${ shops }]]
        console.log([[${ shops }]])   
        
        $('a').click(function(){
        	$('a').removeClass('active');
        	$(this).addClass('active');
        	
        })
        
        var xhr;
        
        function waitingConfirm(mode){
		    var token = $("meta[name='_csrf']").attr("content");
		    var header = $("meta[name='_csrf_header']").attr("content");
		    data = `${mode}`;
		    
		    //(UNSENT-0, OPENED-1, HEADERS_RECEIVED-2, LOADING-3 và DONE-4)
	        if(xhr && xhr.readyState != 4){
	            xhr.abort();
	        }
	        
		    xhr = $.ajax({
		        type: "POST",
		        url: `/mybills/waiting-confirm-test`,
		        
		        
                dataType: "json",
                contentType: "application/json",
                data: data,
                
		        beforeSend: function (xhr) {
		            xhr.setRequestHeader(header, token);
		        },
	
		        success: function (data, status, xhr) {
					//var data = JSON.parse(data);
					var data_table = ""
					data.forEach(function(dt){
		        		
		        		data_table += "<tr>" + 
		        		"<td>"+dt.id+"</td>"+
		        		"<td>"+dt.account+"</td>"+
		        		"<td>"+dt.address+"</td>"+
		        		"<td>"+dt.totalPrice+"</td>"+
						"<td class=\"text-center\"><span><a rel=\"tooltip\" title=\"View Detail\" type=\"button\" href=\"/shop/mybill/"+dt.id+"\"class=\"btn btn-large btn-success btn-just-icon\"><i class=\"fas fa-eye\"></i></a></span>"
						+"<span>" 
						+"<button rel=\"tooltip\" title=\"Confirm Bill\"  type=\"button\" onclick=\"confirmBill("+dt.id+")\""
								+"class=\"btn btn-large btn-info btn-just-icon\">" 
								+"<i class=\"fas fa-check-circle\"></i>"
							+"</button>"
						+"</span> <span>"
								+"<button rel=\"tooltip\" title=\"Deny Bill\" type=\"button\" onclick=\"denyBill("+dt.id+")|\""
								+"class=\"btn btn-large btn-danger btn-just-icon\">"
									+"<i class=\"fas fa-trash-alt\"></i>"
								+"</button>"
						+"</span></td>"
		        		+"</tr>"
		        		
		        	})
		        		$("#tdata").html(data_table)


		        	//alert("Edit Shop Success!");
		        	//window.location.href = "/shop/myproduct?mode=view";
		        },
		        error: function (request, status, error) {
		            //alert(status + " " + error);
		           // window.location.href = window.location.href;
		        }
		    });    
	
		    console.log("End edit");
        	
        	
        }
               
      </script>
		
		<script>
		
		
		
		$(function () {
			  $('[data-toggle="tooltip"]').tooltip()
			})
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar-wrapper');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function(event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function() {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function() {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function() {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function() {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function() {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function() {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });
  </script>
	</th:block>
</body>

</html>