<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head></head>

<body>
	<th:block th:fragment="head-nav-shop-table">

		<nav class="navbar navbar-expand-lg navbar-light bg-light">

			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<div class="navbar-nav">
					<a 
					th:classappend="${#request.getRequestURI().startsWith('/admin/shop/list') ? 'nav-item nav-link active' : 'nav-item nav-link' }" 
					th:href="@{/admin/shop/list}">Active List</a>
					<a 
					th:classappend="${#request.getRequestURI().startsWith('/admin/shop/accept-list') ? 'nav-item nav-link active' : 'nav-item nav-link' }" 
					th:href="@{/admin/shop/accept-list}">Accept List</a>
					<a 
					th:classappend="${#request.getRequestURI().startsWith('/admin/shop/deactive-list') ? 'nav-item nav-link active' : 'nav-item nav-link' }" 
					th:href="@{/admin/shop/deactive-list}">Deactive List</a> 
				</div>
			</div>
		</nav>

		<script th:inline="javascript">
        const shop = [[${ shops }]]
        console.log([[${ shops }]])
      </script>
	</th:block>

</body>

</html>