<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <th:block th:include="admin/layout/head :: head"></th:block>
    
</head>

<body>
    <th:block th:replace="layout/footer :: footer"></th:block>
  <div class="wrapper ">
        
    <div th:replace="profile/layout/leftNavProfile :: leftNavProfile"></div> 
    
    <div class="main-panel">
      <!-- Navbar -->
     	<div th:replace="profile/layout/HeadNavProfile :: headNavProfile"></div> 
      <!-- End Navbar -->
       <!-- content -->
        <div th:replace="components/profile/account/editPass :: editPass"></div> 
        <!-- End content -->
        <div th:replace="profile/layout/footerProfile :: footerProfile"></div> 
    </div>
  </div>
  

</body>
</html>