<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <th:block th:include="admin/layout/head :: head"></th:block>
    
</head>

<body>
<th:block th:if="${shop != null && shop.status != null && shop.status == 1}">
  <div class="wrapper ">
        
    <div th:replace="shop/layout/leftNavShop :: leftNavShop"></div> 
    
    <div class="main-panel">
      <!-- Navbar -->
     	<div th:replace="admin/layout/HeadNavAdmin :: headNavAdmin"></div> 
      <!-- End Navbar -->
       <!-- content -->
        <div th:replace="components/shop/dashboard/dashboardShop :: dashboardShop"></div> 
        <!-- End content -->
        <div th:replace="admin/layout/footerAdmin :: footerAdmin"></div> 
    </div>
  </div>

    <th:block th:replace="layout/footer :: footer"></th:block>
</th:block>
<th:block th:if="${shop != null && shop.status != null && shop.status != 1}">
  <div class="wrapper ">  
    <div class="main-panel">
      <!-- End Navbar -->
       <!-- content -->
        <div th:replace="components/profile/shop/activate-shop :: activate-shop"></div> 
        <!-- End content -->
        <div th:replace="admin/layout/footerAdmin :: footerAdmin"></div> 
    </div>
  </div>

    <th:block th:replace="layout/footer :: footer"></th:block>
</th:block>

<th:block th:if="${shop == null}">
  <div class="wrapper ">  
    <div class="main-panel">
      <!-- End Navbar -->
       <!-- content -->
         <div th:replace="components/shop/myShop/create-shop :: create-shop"></div> 
        <!-- End content -->
        <div th:replace="admin/layout/footerAdmin :: footerAdmin"></div> 
    </div>
  </div>

    <th:block th:replace="layout/footer :: footer"></th:block>
</th:block>
</body>
</html>