<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
    <th:block th:include="layout/head :: head"></th:block>
</head>

<body>
	<div class="super_container">

		<!-- <div th:replace="fragments/layout/header :: header"></div> -->

		<br>
		<a href="/admin/home">admin page</a>
		<!-- <div th:replace="components/accounts :: accounts"></div> -->

		<!-- <div th:replace="fragments/layout/footer :: footer"></div> -->

	</div>
    <th:block th:replace="layout/footer :: footer"></th:block>
</body>
</html>