<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head></head>

<body>
	<th:block th:fragment="category-table">
		<div class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="card">

							<div class="card-header card-header-primary">
								<h4 class="card-title ">Category Table</h4>
								<a th:href="@{/admin/category/add}" type="button"
									class="btn btn-danger"> add <i class="fas fa-plus-circle"></i>
								</a>
								
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<div th:replace="components/admin/category/category-list :: content"></div>
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<script th:inline="javascript">
        const categories = [[${ categories }]]
        console.log([[${ pageable }]])
      </script>
	</th:block>

</body>

</html>