<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head></head>

<body>

	<th:block th:fragment="footer">
		<script th:src="@{/static/jquery-3.5.1.min.js}"></script>
		<script th:src="@{/static/popper.min.js}"></script>
		<script th:src="@{/static/bootstrap-4.5.0-dist/js/bootstrap.min.js}"></script>
	<!--Index  -->
		<script th:src="@{/static/index-template/plugins/greensock/TweenMax.min.js}"></script>
		<script th:src="@{/static/index-template/plugins/greensock/TimelineMax.min.js}"></script>
		<script th:src="@{/static/index-template/plugins/scrollmagic/ScrollMagic.min.js}"></script>
		<script th:src="@{/static/index-template/plugins/greensock/animation.gsap.min.js}"></script>
		<script th:src="@{/static/index-template/plugins/greensock/ScrollToPlugin.min.js}"></script>
		<script th:src="@{/static/index-template/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
		<script th:src="@{/static/index-template/plugins/slick-1.8.0/slick.js}"></script>
		<script th:src="@{/static/index-template/plugins/easing/easing.js}"></script>
		<script th:src="@{/static/index-template/js/custom.js}"></script>
	</th:block>

</body>

</html>