<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head></head>

<body>

    <th:block th:fragment="index-footer">
        <!--Index  -->

        <script th:src="@{/static/index-template/plugins/greensock/TweenMax.min.js}"></script>
        <script th:src="@{/static/index-template/plugins/greensock/TimelineMax.min.js}"></script>
        <script th:src="@{/static/index-template/plugins/scrollmagic/ScrollMagic.min.js}"></script>
        <script th:src="@{/static/index-template/plugins/greensock/animation.gsap.min.js}"></script>
        <script th:src="@{/static/index-template/plugins/greensock/ScrollToPlugin.min.js}"></script>
        <script th:src="@{/static/index-template/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
        <script th:src="@{/static/index-template/plugins/slick-1.8.0/slick.js}"></script>
        <script th:src="@{/static/index-template/plugins/easing/easing.js}"></script>
        <script th:src="@{/static/index-template/js/custom.js}"></script>
        
       

        <script th:inline="javascript">
            let home = [[@{/}]];

            if (home.slice(home.length - 1) == "/") {
                home = home.slice(0, -1);
            }

            function addCart(product_id) {

                let token = $("meta[name='_csrf']").attr("content");
                let header = $("meta[name='_csrf_header']").attr("content");
                // let data = new Object();
                // data.product_id = product_id;
                let data = `{"product_id" : ${product_id}}`;
                // console.log(data);

                try {
                    let quantity = $('#quantity_input').val();
                    if (typeof quantity === 'undefined') {
                        
                    }
                    else {
                        data = `{"product_id" : ${product_id},"quantity" : ${quantity}}`;
                    }
                } catch (error) {

                }

                $.ajax({
                    url: `${home}/cart/add`,
                    type: 'PUT',

                    dataType: "json",
                    contentType: "application/json",

                    // data: JSON.stringify(`{"product_id" : ${product_id}}`),
                    data: data,
                    // data: JSON.stringify(data),

                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },

                    // success: function (data, status, xhr) {
                    //     window.location.href = window.location.href;
                    // },
                    error: function (request, status, error) {

                        try {
                            if (request.status == 405) {
                                window.location.href = `${home}/login`;
                            }
                            // console.log(request.status);
                            // console.log(status);
                            // console.log(error);
                            // window.location.href = `${home}/login`;
                        } catch (error) { }
                    }
                });

            }
        </script>
    </th:block>

</body>

</html>