<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>

</head>

<body>
	<th:block th:fragment="shop-product-list">
		<div class="col-lg-9">

			<!-- Shop Content -->

			<div class="shop_content">

				<div class="shop_bar clearfix">
					<div class="shop_product_count">
						<span>186</span> products found
					</div>
					<div class="shop_sorting">
						<span>Sort by:</span>
						<ul>
							<li><span class="sorting_text">highest rated<i
									class="fas fa-chevron-down"></span></i>
								<ul>
									<li class="shop_sorting_button"
										data-isotope-option='{ "sortBy": "original-order" }'>highest
										rated</li>
									<li class="shop_sorting_button"
										data-isotope-option='{ "sortBy": "name" }'>name</li>
									<li class="shop_sorting_button"
										data-isotope-option='{ "sortBy": "price" }'>price</li>
								</ul></li>
						</ul>
					</div>
				</div>
				<div class="product_grid">
					<div class="product_grid_border"></div>

					<!-- Product Item -->
					<th:block th:each="product : ${products}">
							<div class="product_item is_new">
								<div class="product_border"></div>
								<div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="images/new_5.jpg" alt=""></div>
								<div class="product_content">
									<div class="product_price">$225</div>
									<div class="product_name"><div><a href="#" tabindex="0">Philips BT6900A</a></div></div>
								</div>
								<div class="product_fav"><i class="fas fa-heart"></i></div>
								<ul class="product_marks">
									<li class="product_mark product_discount">-25%</li>
									<li class="product_mark product_new">new</li>
								</ul>
							</div>
					</th:block>

				</div>

			</div>
		</div>
	</th:block>
</body>
</html>