<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
	<th:block th:include="admin/layout/head :: head"></th:block>
	<meta th:name="_csrf" th:content="${_csrf.token}" />
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<body>
	<div class="wrapper ">

		<div th:replace="admin/layout/leftNavAdmin :: leftNavAdmin"></div>

		<div class="main-panel">
			<!-- Navbar -->
			<div th:replace="admin/layout/HeadNavAdmin :: headNavAdmin"></div>
			<!-- End Navbar -->
			<!-- content -->

			<div th:replace="components/admin/account/account-add :: account-add"></div>
			<!-- End content -->
			<div th:replace="admin/layout/footerAdmin :: footerAdmin"></div>
		</div>
	</div>

	<th:block th:replace="admin/layout/footer :: footer"></th:block>

	<script>
				function addAccount() {
					var token = $("meta[name='_csrf']").attr("content");
				    var header = $("meta[name='_csrf_header']").attr("content");
		
					let newAccount = new Object();
					newAccount.username = $("#addAccountUsername").val();
					newAccount.password = $("#addAccountPassword").val();
				
					$.ajax({
						url: `/admin/account/add`,
						type: 'POST',
						dataType: "json",
						contentType: "application/json",
						data: JSON.stringify(newAccount),
						beforeSend: function (xhr) {
							xhr.setRequestHeader(header, token);
						},
						success: function (data, status, xhr) {
							console.log(data);
							// To reload the page discarding the POST data(perform a GET request)
							/* window.location.href = "/task2/admin/account/list"; */
		
						},
						error: function (request, status, error) {
							console.log(err);
							alert(status + " " + error);
		
		
							// console.log(request);
							// console.log(status);
							// console.log(error);
							// To reload the page discarding the POST data(perform a GET request)
							window.location.href = window.location.href;
						}
					});
				}
		
			</script>
</body>
</html>